@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

body {
  background-color: #E9EAED;
  color: white;
}




*{
  margin: 0;
  font-family: Segoe UI;
}


a {
  word-wrap: break-word;
}

.posts-list{
  display: flex;
  flex-direction: column;
}
